.img-overlay {
    position: relative;
    max-width: 1000px;
}

.img-overlay > img {
    display: block;
}

/*
This class adds the "disabled" overlay to things you don't have the resources to build
*/
.disabled-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(100, 100, 100, 0.2);
    opacity: 0.3;

    /*
    I could put the background-image here, but since I'm getting the URL for it using url_for(), and this
    file isn't a template, I can't do that. So I do it in the HTML file.
    */
}

.card-image {
    /*
    The two values are horizontal radius / vertical radius.
    Vertical should equal 0.6731 * horizontal, so that the rounded corner is a circle and not an ellipse.
     0.6731 is the ratio of height / width of all of the cards.
     */
    -webkit-border-radius: 15%/10.1%;
    -moz-border-radius: 15%/10.1%;
    border-radius: 15%/10.1%;
}

.img-blue {
    filter: hue-rotate(100deg);
}


html, body {
    overflow-x: hidden; /* When elements are hidden offscreen horizontally, this prevents scrolling to see them */
}

/*
 * Off Canvas
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -100%; /* 12 columns */
    }

    .row-offcanvas-right.active .sidebar-offcanvas {
        right: -75%; /* 6 columns */
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -100%; /* 12 columns */
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -75%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 75%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 75%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 75%; /* 9 columns */
    }
}