<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">

        {% if error_username_taken %}
            <div class="alert alert-danger">Username &quot;{{ username }}&quot; is already taken.</div>
        {% endif %}

        {% if error_username_invalid %}
            <div class="alert alert-danger">Username &quot;{{ username }}&quot; contains invalid characters.</div>
        {% endif %}

        {% if error_password_length %}
            <div class="alert alert-danger">Password must be at least {{ password_min_length }} characters.</div>
        {% endif %}

        {% if error_login %}
            <div class="alert alert-danger">Invalid username or password.</div>
        {% endif %}

        {% if has_next %}
            <div class="alert alert-info">You must log in to access this page.</div>
        {% endif %}

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#" id="signintab">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="registertab">Register</a>
            </li>
        </ul>

        <!-- The action of this form is changed when switching between the sign in and register tabs. -->
        <form action="/login" method="post">
            <!-- Username Input -->
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Username">
                <!-- This feedback is unhidden by form validation function -->
                <small class="invalid-feedback hidden" id="usernameerror">
                    Username can only contain:
                    <ul>
                        <li>Upper and lower case characters</li>
                        <li>Numbers</li>
                        <li>Underscores</li>
                    </ul>
                </small>
            </div>

            <!-- Password input -->
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" placeholder="password">
                <!-- This feedback is unhidden by form validation function -->
                <small class="invalid-feedback hidden" id="passwordlength">
                    Password must be at least {{ password_min_length }} characters.
                </small>
            </div>

            <!-- Confirm password input -->
            <div class="form-group" id="confirmpasswordformgroup">
                <label for="confirmpassword">Confirm Password</label>
                <input id="confirmpassword" type="password" name="confirmpassword" class="form-control">
                <!-- This feedback is unhidden by form validation function -->
                <small class="hidden invalid-feedback" id="passworderror">Does not match your password.</small>
            </div>

            <input type="hidden" name="next" value="{{ next }}">

            <!-- The Sign In button is hidden when in the register tab, and shown when in the sign in tab -->
            <button type="submit" class="btn btn-primary" id="loginbutton">Sign in</button>
            <!-- And vice verse for the register button. -->
            <button type="submit" class="btn btn-primary" id="registerbutton">Register</button>
        </form>

    </div>

    <script type="text/javascript">
        "use strict";

        var passwordInput;
        var confirmPasswordInput;
        var passwordError;
        var loginButton;
        var registerButton;
        var passwordLengthError;
        var usernameInput;
        var usernameError;
        var confirmPasswordFormGroup;
        var form;

        var registerTab;
        var signInTab;

        var register = {% if register %} true; {% else %} false; {% endif %}

        var usernameRegex = /^[a-z0-9_]+$/i;
        var passwordLength = {{ password_min_length }};

        $(document).ready(function(){
            console.log("Document is ready");
            passwordInput = $("#password");
            confirmPasswordInput = $("#confirmpassword");
            passwordError = $("#passworderror");
            loginButton = $("#loginbutton");
            registerButton = $("#registerbutton");
            passwordLengthError = $("#passwordlength");
            usernameInput = $("#username");
            usernameError = $("#usernameerror");
            registerTab = $("#registertab");
            signInTab = $("#signintab");
            form = $("form");
            confirmPasswordFormGroup = $("#confirmpasswordformgroup");
            usernameInput.on('change keyup paste mouseup', validate);
            confirmPasswordInput.on('change keyup paste mouseup', validate);
            passwordInput.on('change keyup paste mouseup', validate);

            signInTab.click(function(){
                console.log("Sign in tab click");
                signInTab.addClass("active");
                registerTab.removeClass("active");
                confirmPasswordFormGroup.hide();
                loginButton.show();
                registerButton.hide();
                register = false;
                validate();
                form.prop("action", "/login");
            });

            registerTab.click(function(){
                console.log("Register tab click");
                registerTab.addClass("active");
                signInTab.removeClass("active");
                confirmPasswordFormGroup.show();
                loginButton.hide();
                registerButton.show();
                register = true;
                form.prop("action", "/register");
            });

            if(register){
                registerTab.click();
            }else{
                signInTab.click();
            }
        });

        function validate(){
            var error = false;

            if (usernameRegex.test(usernameInput.val()) || usernameInput.val().length === 0 || !register) {
                usernameError.hide();
                usernameInput.removeClass("is-invalid");
            } else {
                usernameError.show();
                usernameInput.addClass("is-invalid");
                error = true;
            }

            if (passwordInput.val() === confirmPasswordInput.val() || passwordInput.val().length === 0 || !register) {
                passwordError.hide();
                confirmPasswordInput.removeClass("is-invalid");
            } else {
                passwordError.show();
                confirmPasswordInput.addClass("is-invalid");
                error = true;
            }

            if (passwordInput.val().length >= passwordLength || passwordInput.val().length === 0 || !register) {
                passwordLengthError.hide();
                passwordInput.removeClass("is-invalid");
            } else {
                passwordLengthError.show();
                passwordInput.addClass("is-invalid");
                error = true;
            }

            if (!error || !register) {
                registerButton.prop("disabled", false);
            } else {
                registerButton.prop("disabled", true);
            }
        }
    </script>
</body>
</html>